@charset "UTF-8";
main{
	max-width:96rem;
}

input[type=radio], input[type=checkbox]{
  width: 2rem;
}

table{
	width:100%;
}


.form-list{
	width: 100%;
	padding-left: 0;
	display: table;
}
.form-list li{
	display: table-row;
}
.form-list-label,
.form-list-input{
	vertical-align: middle;
	display: table-cell;
	padding: 0 0 1rem;
}
.form-list-label{
	width: 14rem;
	padding-right: 2rem;
}

.form-list-input input[type=text],
.form-list-input textarea{
	width: 100%;	
}

.btn-add{
    width:40%;
    margin-bottom:5rem;
}

.btn-delete{
    margin:0;
    font-size: 1.2rem;
}
.al-center{
    text-align: center;
}


/* ---------------------------------------
	https://proto.io/freebies/onoff/
 --------------------------------------- */

.onoffswitch {
    position: relative; width: 90px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.onoffswitch-checkbox {
    display: none;
}
.onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    border: 2px solid #999999; border-radius: 20px;
}
.onoffswitch-inner {
    display: block; width: 200%; margin-left: -100%;
    -moz-transition: margin 0.15s ease-in 0s; -webkit-transition: margin 0.15s ease-in 0s;
    -o-transition: margin 0.15s ease-in 0s; transition: margin 0.15s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
    display: block; float: left; width: 50%; height: 30px; padding: 0; line-height: 30px;
    font-size: 14px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
    -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}
.onoffswitch-inner:before {
    content: "ON";
    padding-left: 10px;
    background-color: #474C4D; color: #FFFFFF;
}
.onoffswitch-inner:after {
    content: "OFF";
    padding-right: 10px;
    background-color: #F7F7F7; color: #999999;
    text-align: right;
}
.onoffswitch-switch {
    display: block; width: 22px; margin: 6px;
    background: #FFFFFF;
    border: 2px solid #999999; border-radius: 20px;
    position: absolute; top: 0; bottom: 0; right: 56px;
    -moz-transition: all 0.15s ease-in 0s; -webkit-transition: all 0.15s ease-in 0s;
    -o-transition: all 0.15s ease-in 0s; transition: all 0.15s ease-in 0s; 
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px; 
}