<template id="bookCardTemplate">

<div id="card">

    <ul>
        <li><label>title:</label><input name="title">
        <li><label>authors:</label><button class="x-add">add</button>
            <ul>
                <li class="person-row">
                    <input name="person"></input>
                    <button class="x-remove">remove</button>
            </ul>
        <li><label>year:</label><input name="year">
    </ul>
    

</div>

</template>

<script src="bookCard.js"></script>