<template id="persons-edit-template">

<div id="persons-edit-root" style="display:inline">

    <button class="x-edit">edit</button>

    <div id="pop" title="person editor">
        <button class="x-add">add</button>
        <ul class="x-list">
            <li class="person-row">
                <input name="person" width="200px"></input>
                <button class="x-remove">remove</button>
        </ul>
    </div>
    
</div>

</template>
<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<script src="personsEdit.js"></script>